@import '../../styles/vars.css';

.timeInputWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 22px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    mix-blend-mode: normal;

    & label {
        opacity: 0.4;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input {
    background: #eff1fa;
    border-radius: 10px;
    height: 48px;
    width: 140px;
    padding: 16px;
    font-size: 14px;
    font-weight: 700;
    color: #1e213f;
    border: none;
    margin-top: 8px;
    outline: none;
}

.stroke {
    fill: none;
    stroke: #1e213f;
    stroke-opacity: 0.25;
    stroke-width: 2;
}

.timeInput:hover .stroke {
    stroke-opacity: 1;
}

.timeInputButtons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 9px;
    right: 16px;
    top: 34px;

    & button {
        border: none;
        cursor: pointer;
    }
}
