/* variables */
:root {
    --font-family: 'Kumbh Sans', sans-serif;
    --app-color: #f87070;
    --font-weight: 700;
    --letter-spacing: 0px;
    --margin-left: 160px;
}
header {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #d7e0ff;
    margin-top: 48px;
}
@media (max-width: 561px) {
    header {
        font-size: 24px;
        line-height: 30px;
        margin-top: 32px;
    }
}
