/* variables */
:root {
    --font-family: 'Kumbh Sans', sans-serif;
    --app-color: #f87070;
    --font-weight: 700;
    --letter-spacing: 0px;
    --margin-left: 160px;
    
}
.clockContainer {
    display: flex;
    direction: column;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 410px;
    border-radius: 50%;
    background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
    box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
    margin-top: 45px;
}
.clockContainerMobile {
    display: flex;
    direction: column;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 410px;
    border-radius: 50%;
    background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
    box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
    margin-top: 45px;
}
.clockDesktop {
    display: flex;
    direction: column;
    justify-content: center;
    align-items: center;
    width: 366px;
    height: 366px;
    background-color: #161932;
    border-radius: 50%;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: var(--font-family);
    color: #d7e0ff;
}
.clockMobile {
    display: none;
}
@media (max-width: 561px) {
    .clockContainer {
        width: 300px;
        height: 300px;
    }
    .clockDesktop {
        display: none;
    }

    .clockMobile {
        display: flex;
        direction: column;
        justify-content: center;
        align-items: center;
        width: 267.8px;
        height: 267.8px;
        background-color: #161932;
        border-radius: 50%;
        font-family: 'Kumbh Sans', sans-serif;
        font-family: var(--font-family);
        color: #161932;
    }
}
