/* variables */
@use '/src/styles/vars' as *;
@use '/src/styles/breakpoints' as *;

.clockDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: 100px;
    line-height: 124px;
    width: 100%;
    margin-top: 50px;
    margin-left: var(--margin-left);
    letter-spacing: var(--letter-spacing);
    transition: all ease 0.3s;

    @include breakpoint(mobile) {
        font-size: 80px;
        line-height: 99px;
        margin-bottom: -10px;
    }
}

.minutes {
    display: flex;
    justify-content: flex-end;
    width: 20px;
    margin-right: 0px;
}

.seconds {
    width: 180px;
    margin-left: 0px;
}

.button {
    flex: row;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 15px;
    background-color: transparent;
    border: none;
    color: $text-primary;
    cursor: pointer;

    & svg {
        width: 32px;
        height: 32px;
        transition: all ease 0.3s;

        @include breakpoint(mobile) {
            width: 20px;
            height: 20px;
            margin-top: 8px;
        }
    }

    @include breakpoint(mobile) {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 13.125px;
        margin-top: 12.06px;
    }
}

.button:hover {
    color: var(--app-color);
}

.startStop {
    margin-top: 20px;
    margin-left: 20px;
}

.reset {
    margin-left: 5px;
    padding-top: 10px;

    @include breakpoint(mobile) {
        padding-top: 0px;
        margin-top: 0px;
    }
}
