/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
	--red: hsl(0, 91%, 71%);
	--blue: hsl(182, 91%, 71%);
	--purple: hsl(284, 89%, 74%);
	--kumbh: "Kumbh Sans", sans-serif;
	--roboto: "Roboto Slab", serif;
	--space: "Space Mono", monospace;
}

.modeMenu {
	background-color: #161932;
	border-radius: 31.5px;
	width: 373px;
	height: 63px;
	margin-top: 55px;
	padding: 7px;
}

.button {
	font-size: 14px;
	line-height: 17px;
	font-weight: 700;
	color: #d7e0ff;
	opacity: 0.4;
	border-radius: 26.5px;
	width: 120px;
	height: 48px;
}

.button:hover {
	opacity: 1;
}

.active {
	color: #1e213f;
	opacity: 100;
}

.settings-button:hover .settings-icon {
	opacity: 1;
}

.timer-container {
	width: 410px;
	height: 410px;
	margin-top: 45px;
	border-radius: 50%;
	background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
	box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
}

.circle {
	width: 366px;
	height: 366px;
	border-radius: 50%;
	background-color: #161932;
}

.clock-display h1 {
	font-weight: 700;
	font-size: 90px;
	line-height: 120px;
	letter-spacing: 0px;
}

.clock-display h3 {
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 15px;
	text-transform: uppercase;
}

.settings-container {
	width: 540px;
	height: 490px;
}

.settings {
	width: 100%;
	height: 464px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
}

.settings h2 {
	font-weight: bold;
	font-size: 28px;
	line-height: 34px;
}

.settings h4 {
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.settings-container:hover .close {
	opacity: 1;
}

.settings label {
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	opacity: 0.4;
}

.settings input {
	background: #eff1fa;
	border-radius: 10px;
	height: 48px;
	width: 140px;
	padding: 16px;
	font-size: 14px;
	font-weight: 700;
	color: #1e213f;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

.stroke {
	fill: none;
	stroke: #1e213f;
	stroke-opacity: 0.25;
	stroke-width: 2;
}

.time:hover .stroke {
	stroke-opacity: 1;
}

.fontButton {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #eff1fa;
}

.fontButton:hover {
	outline: 1px solid #eff1fa;
	outline-offset: 5px;
}

.fontButton-active {
	background-color: #161932;
	opacity: 100;
}

.font {
	font-size: 15px;
	opacity: 0.73;
	line-height: 20px;
	font-weight: 400;
	color: #161932;
}

.font-active {
	background-color: #161932;
	opacity: 100;
	color: white;
}

.kumbh-font {
	font-family: var(--kumbh);
}
.roboto-font {
	font-family: var(--roboto);
}
.space-font {
	font-family: var(--space);
}

.colorButton {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.colorButton:hover {
	outline: 1px solid #eff1fa;
	outline-offset: 5px;
}

.colorButton-red {
	background-color: var(--red);
}
.colorButton-blue {
	background-color: var(--blue);
}
.colorButton-purple {
	background-color: var(--purple);
}

.apply {
	position: absolute;
	width: 140px;
	height: 53px;
	background-color: #f87070;
	border-radius: 26.5px;
}

.apply:hover {
	background-color: #f98d8d;
}

.apply h3 {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	color: white;
}

circle {
	fill: none;
	stroke: var(--red);
	stroke-width: 10px;
	stroke-dasharray: 1030;
	stroke-dashoffset: 1030;
	stroke-linecap: round;
}

.circle svg {
	position: absolute;
	transform: rotate(-90deg);
	height: 346px;
	width: 346px;
	z-index: 0;
}

@media (max-width: 561px) {
	.modeMenu {
		width: 327px;
		height: 63px;
		margin-top: 39px;
		padding: 7px;
	}
	.button {
		font-size: 12px;
		line-height: 15px;
		font-weight: 700;
		width: 105.2px;
	}
	.timer-container {
		width: 300px;
		height: 300px;
		background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
		box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
	}

	.circle {
		width: 267.8px;
		height: 267.8px;
	}

	.circle svg {
		width: 248px;
		height: 248px;
	}

	.clock-display h1 {
		font-weight: 700;
		font-size: 60px;
		line-height: 99.22px;
		letter-spacing: 0px;
	}

	.clock-display h3 {
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 15px;
		text-transform: uppercase;
		margin-top: 12.06;
	}

	.settings-container {
		width: 327px;
		height: 607px;
	}

	.settings {
		width: 100%;
		height: 581px;
		border-radius: 15px;
	}

	.settings h2 {
		font-size: 20px;
		line-height: 24.8px;
	}

	.settings h4 {
		font-weight: bold;
		font-size: 11px;
		line-height: 14px;
		letter-spacing: 5px;
		text-transform: uppercase;
	}

	.settings input {
		background: #eff1fa;
		border-radius: 10px;
		height: 40px;
		width: 140px;
		padding: 16px;
		font-size: 14px;
		font-weight: 700;
		color: #1e213f;
	}
}
