@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--kumbh: "Kumbh Sans", sans-serif;
	--roboto: "Roboto Slab", serif;
	--space: "Space Mono", monospace;
}

body {
	background-color: hsl(235, 35%, 18%);
	color: #d7e0ff;
	font-size: 32px;
	font-family: var(--kumbh);
}